* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
    background-color: #00152e;
}
header {
  height: 100vh;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navItemsList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mainData{
  width: 50%;
}
.introImage{
  /* width: 50%; */
}
h1{
  font-weight: 800;
  font-size: 3.3rem;
}

@media screen and (max-width: 990px) {
  body {
    background-color: rgb(88, 116, 88);
    
  }
  header{
   width:  100%;
   height: auto;
  }
  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
  
.navItemsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introdution{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 100px; */
}
#mainData{
  text-align: center;
  width: 100%;  
  /* background-color: black; */
  padding: 0px;
}

.introImage{
  width: 100%;
}

.introImage img{ 
  width: 100%;
}
.mediaContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.soacialMediaList{
  /* background-color: green; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#personalData {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.brief{
  /* background-color: grey; */
  width: 80%;
}
.personalImage{
  width: 60%;
}










}





ul {
  padding: 10px;
}

.navItems li {
  margin: 10px;
  padding: 10px;
}
a {
  text-decoration: none;
  color: whitesmoke;
}

nav a:hover{
  text-decoration: underline;
  color: whitesmoke;
  opacity: 0.8;
}
a:active{

  text-decoration: underline;
  color: whitesmoke;
  opacity: 0.5;
}

.scrollDownBtn:hover{
  color: whitesmoke;
  opacity: 0.8;
}
.soacialMediaList{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.soacialMediaList ul {
  padding: 0px;
}

.soacialMediaList li {
  margin: 0px;
  padding: 0px;
}

.soacialMediaList a {
  text-decoration: underline;
}


.introdution {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.introImage{
    width: 45%;
}

.soacialMedia{
  padding: 20px;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.mediaContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.soacialMediaList{
  /* background-color: green; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}
.soacialMediaList li {
  padding: 10px;
}


.email{
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
}
.email a:hover{
  text-decoration: none;

}



/* 
.name{

    position: absolute;
    top: 40%;
    left: 10%;
    text-align: center;
    padding: 5px;
    background-color: #09c;
    width: 30%;
    opacity: 0.9;
} */

#personalData {
  /* background-color: grey; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brief{
  /* width: 50%; */
}
.personalImage{
    /* width: 40%; */
}

p{
  padding: 5px;
}
.btnLink:hover{
  text-decoration: none;
  color: black; 

}
#top{

  width: 35px;
  height: 35px;
  background-color: #062c58;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding-left: 2px;
  padding-top: 1px;

}
#topbtn:hover{
  color: whitesmoke;
  text-decoration: none;
}
textarea{
  resize: none;
}
.experienceTag{
  margin-right: 12px;
}
.works-images img:hover {
  /* background-color: rgba(0, 0, 0, 0.7); */
  filter: brightness(50%);
  background-blend-mode: multiply;
  /* opacity: 0.5; */
  transform: scale(1.1);
}
.works-images img{
  transition: all 1s;
  border-radius: 5px;
}
/* 
.ham-menu, .ham-menu span {
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  cursor: pointer;
}

.ham-menu {border: 2px solid #666; width: 32px; padding: 1px; border-radius: 3px; position: absolute; left: 10px; top: 10px; }
.ham-menu .line {border: 3px solid #666; line-height: 0; font-size: 0; display: block; margin: 2px;}
.ham-menu .line.small {border-width: 2px;}

.ham-menu:hover {border-color: #99f;}
.ham-menu:hover span {border-color: #ccf;}
 */



/* 
 .footerContainer{
   position: relative;
   margin-top:100px ;

 }
 footer{
   position: absolute;
   bottom: 0px;
   right: 0px;
   left: 0px;
 } */
